<br>
<div class="container">
    <div class="my-center">
        <div class="card">
            <br>
            <h4 style="padding-left: 25px" class="h4">Todos List</h4>
            <br>
        </div>
        <div class=" card-title">
            <button class="btn btn-light btn-hover mainButton" (click)="allTodoList()">ALL</button>
            <button class="btn btn-light btn-hover mainButton" (click)="doneTodoList()">Done</button>
            <button class="btn btn-light btn-hover mainButton" (click)="notDoneTodoList()">Not Done</button><br><br>

            <div class=" card card-body">
                <table class="table table-hover">
                    <tr *ngFor="let todo of todo;index as index">
                        <td>{{ todo.title }}</td>
                        <td><button *ngIf="todo.completed" class="btn btn-success myButton">Done</button>
                            <button *ngIf="!todo.completed" class="btn btn-danger myButton">Not Done</button>
                        </td>
                        <td>
                                <button class="btn btn-secondary" (click)="edit(todo)" ><i class="fa fa-pencil"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>